<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/movies"><b>Movies</b></a>
        </div>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" id="movieInput" onkeyup="searchMovies()" name="search">
              <div class="input-group-btn">
                  <i class="glyphicon glyphicon-search"></i>
              </div>
            </div>

    </div>
</nav>