<div class="container">
	<div class="jumbotron">
		<h1>Welcome to Blockbuster 2.0!</h1>
		<p>Blockbuster 2.0 is an a la carte movie streaming platform. Say goodbye to subscriptions and membership fees by only purchasing movies that you want to see.</p>
		<br>
		<p><a class="btn btn-primary btn-lg" href="/users/create" role="button">Sign Up!</a></p>
	  </div>
	</div>

	<div class="row dark-back">
		<div class="container">
			<div class="message">
				<h1><b>All The Movies You Love</b></h1>
				<h4>Stream full movies of exclusive shows, current-season episodes, hit movies, Blockbuster2.0 Originals, kids shows, and more.</h4>
			</div>
		</div>
	</div>