.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }

 .btn-primary{
     background-color: #FBB03B !important;
     border-color: #E29C2F !important;
 }

 .card{
     margin: auto;
     margin-top: 25px;
     border: 1px #f2f2f2 solid;
     width: 50%;
     padding: 35px;
     -webkit-box-shadow: 0px 6px 21px -4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 6px 21px -4px rgba(0,0,0,0.2);
    box-shadow: 0px 6px 21px -4px rgba(0,0,0,0.2);
 }

 .checkoutform{
    background-color: white !important;
    border-color: white !important;
    box-shadow: none !important;
    padding: 0 !important;
 }

 .checkoutformposition{
     position: absolute !important;
     top: 35% !important;
 }

 .form-group {
    margin-bottom: 0px !important;
}