<div class="container">
    <h1>Movies In Stock</h1>
    <ul class="list-group">
        <% movies.forEach(movie => { %>
                    <a href="/movies/<%= movie._id %>"><img src="<%= movie.imageUrl %>" alt="" class="movie-img"></a>
        <% }) %>
    </ul>
</div>

