<div class="container">
    <h1>Movies In Stock</h1>
    <ul class="list-group">
        <% movies.forEach(movie => { %>
            <a href="/movies/<%= movie._id %>"<li class="list-group-item"><%= movie.title %></li></a>
        <% }) %>
    </ul>
</div>