<h1>Here's all of the users. You're welcome</h1>
<table class="table">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
        <th>Data</th>
    </tr>
<% users.forEach(user => {%>
    <a href="/users/<%= movie._id %>"<li class="list-group-item"><%= user.firstname %> <%= user.lastname %></li></a>
<% }); %>
</table>