
    <div class="container">
        <h1>My Rentals</h1>

        <% transactions.forEach((transaction) => { %>
        <div class="panel panel-default movie-card">
            <div class="panel-heading">
              <h3 class="panel-title"><%= transaction.movieTitle %></h3>
            </div>
            <div class="panel-body">
              <img src="<%= transaction.imageUrl %>" alt="" class="movie-img">
            </div>
        </div>
        <% }) %>
          
    </div>