
    <div class="container">
        <h1>My Rentals</h1>

        <% transactions.forEach((transaction) => { %>
            <a href="/rentals/<%= transaction._id %>/view"><img src="<%= transaction.imageUrl %>" alt="" class="movie-img"></a>
        <% }) %>
          
    </div>
